
@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Regular.woff2') format('woff2'),
  url('../fonts/Lato-Regular.woff') format('woff');
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Light.woff2') format('woff2'),
  url('../fonts/Lato-Light.woff') format('woff');
  font-weight:300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src:  url('../fonts/Lato-Bold.woff2') format('woff2'),
  url('../fonts/Lato-Bold.woff') format('woff');
  font-weight:700;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?34700594');
  src: url('../fonts/fontello.eot?34700594#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?34700594') format('woff2'),
  url('../fonts/fontello.woff?34700594') format('woff'),
  url('../fonts/fontello.ttf?34700594') format('truetype'),
  url('../fonts/fontello.svg?34700594#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}