@media screen and (min-width: 1200px){

}

@media screen and (max-width: 1200px){
  .works-slider{
    .img-wrap{
      width:175px;
      height:175px;
      margin: 0 auto;
    }
  }
  .monitor-container {
    width: 800px;
    height: 466px;
  }

  .monitor-container:hover {
    width: 820px;
    height: 477px;
  }
}
@media screen and (min-width: 992px){

  .nav-btn-left{
    padding-left: 45px;
    top:50%;
    left:0;
    transform: translateY(-50%);
    &:before{
      top:50%;
      left: 7px;
      width:30px;
      height:1px;
      transform: translateY(-50%);
    }
  }
  .nav-btn-right{
    padding-right: 45px;
    top:50%;
    right:7px;
    transform: translateY(-50%);
    &:before{
      top:50%;
      right: 0;
      width:30px;
      height:1px;
      transform: translateY(-50%);
    }
  }
  .nav-btn-top{
    padding-top: 45px;
    top:7px;
    left:50%;
    transform: translateX(-50%);
    &:before{
      top:0;
      left: 50%;
      width:1px;
      height:30px;
      transform: translateX(-50%);
    }
  }
  .slider-arrow{
    position: absolute;
    top:38%;
    cursor: pointer;
    z-index:100;
  }
}
@media screen and (max-width: 992px){
  .nav-btn-left{
    padding-left: 15px;
    top:50%;
    left:0;
    transform: translateY(-50%);
    word-break: break-all;
    width: 28px;
    text-align: center;
    line-height: 1;
  }
  .nav-btn-right{
    padding-right: 15px;
    top:50%;
    right:0;
    transform: translateY(-50%);
    word-break: break-all;
    width: 28px;
    text-align: center;
    line-height: 1;
  }
  .nav-btn-top{
    padding-top: 15px;
    top:0;
    left:50%;
    transform: translateX(-50%);

  }

  .works-wrap{
    padding: 0 55px;
  }
  .works-slider{
    max-width: 640px;
    padding: 10px 20px;
  }
  .nav-btn-top-right{
    top:15px;
    right:15px;
  }
 .open-work .open-work-wrap {
   .work-info-block{
     flex-flow: column;
     .work-info-text, .work-info {
       max-width: none;
     }
   }
 }
  .monitor-container {
    width: 600px;
    height: 350px;
    margin-bottom:0;
  }

  .monitor-container:hover {
    width: 615px;
    height: 358px;
  }
  .monitor-stand{
    display: none;
  }
  .work-info-block{
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .monitor-container,
  .monitor-container:hover {
    width: 450px;
    height: 262px;
  }
}

@media screen and (max-width: 900px) {
  .work-info-block {
    max-width: 600px;
  }
}

@media screen and (max-width: 660px) {
  .container {
    width: 400px;
    text-align: center;
    .contacts-block-form {
      flex-flow: column;
      .call-back {
        max-width: 400px;
        margin-top: 32px;
        order: 2;
      }
    }
  }
  .tilter{
    width:195px;
  }
  .works-wrap {
    padding: 0 40px;
  }
  .about_us, .contacts, .works{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .social-btn{
    bottom: 10px;
  }
  .copyright {
    font-size: 10px;
  }
  .open-work {
    padding: 0 80px;
  }
  .monitor-container,
  .monitor-container:hover {
    width: 100%;
    height: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 75%;
  }
  .main-logo{
    font-size:22px;
    img{
      max-width: 85px;
    }
  }
  .nav-btn{
    font-size:12px;
  }
  h2{
    font-size:20px;
  }
  .about_us strong, .contacts strong, .works strong{
    font-size:14px;
  }
  .about_us p, .contacts p, .works p, address{
    font-size:13px;
  }
  .copyright {
    font-size: 9px;
  }
  .nav-btn-top-right{
    top:10px;
    right: 10px;
    border-width: 1px;
    .nav-lang{
      font-size:10px;
      padding: 4px 9px 3px;
      border-width: 1px;
    }
  }
  .about-us-info{
    margin-top: 20px;
    font-size: 12px;
  }
  .about-us-info-line{
    padding: 8px 0;
    dt{
      width:35%;
    }
  }
  .swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    margin: 0 1px;
  }
  .swiper-pagination-bullet-active:before{
    width: 6px;
    height: 6px;
  }
  .open-work {
    padding: 0 35px;
  }
  .monitor-container, .monitor-container:hover{
    height: 400px;
    width: 235px;
    position: relative;
  }
  .monitor{
    padding: 10% 4% 15%;
    border-width: 1px;
    &:before{
      padding: 1% 7%;
      margin-right: -6.4%;
      border-radius: 25%;
      border-width: 1px;
    }
    &:after{
      border-width: 1px;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
    }
  }
  .content{
    width:100%;
  }
  .monitor-stand{
    position: absolute;
    bottom: 7px;
    right: 50%;
    display: block;
    width: 43px;
    height: 21px;
    border: 1px solid #050407;
    border-radius: 30px;
    transform: translateX(50%);
    &:after{
      position: absolute;
      top:-3px;
      left: -3px;
      bottom:-3px;
      right:-3px;
      border: 1px solid #050407;
      width:auto;
      height:auto;
      margin: 0;
      border-radius: 30px;
    }
  }
}