@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";
@import "_partials/fonts";
@import "_partials/variables";
@import "_partials/component.css";


$main-color:#666;
$accent-color:#E53A24;

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}
h2{
  font-size:39px;
  font-weight:300;
  text-transform: uppercase;
}
body{
  font-size:15px;
  line-height: 1.5;
  font-family: Lato, sans-serif;
  font-weight:400;
  min-height: 100%;
  position: relative;
  color: $main-color;
}
#send-success, #send-error{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .1);
  .modal-content {
    margin: 40px auto;
    padding: 30px 20px;
    position: absolute;
    width: 80%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    text-align: center;
    .button-close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
a{
  text-decoration: none;
  color: $main-color;
  transition: color ease .3s;
  &:hover, &:focus, &:active{
    text-decoration: none;
    color: $accent-color;
  }
}
.main-page{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
}

.nav-btn{
  font-size:14px;
  color: #666;
  text-transform: uppercase;
  position: absolute;
  &:before{
    content: '';
    display: block;
    background: #333;
    position: absolute;
  }
  &:hover{
    &:before{
      background: $accent-color;
    }
  }
}
.copyright {
  position: absolute;
  bottom: 25px;
  left:50%;
  transform: translateX(-50%);
  p {
a {
  text-align: center;
  vertical-align: middle;
  margin: 0 3px;
}
    a span{
      width: 23px;
      height: 23px;
      color: $accent-color;
      opacity: 1;


    }

    a:hover {
      text-decoration: none;
      color: $accent-color;
    }
  }

}
.social-btn{
  position: absolute;
  bottom: 25px;
  left:50%;
  transform: translateX(-50%);
  a{
    display: inline-block;
    width:23px;
    height:23px;
    border-radius: 50%;
    border:1px solid #000;
    color: #000;
    opacity:.6;
    text-align: center;
    vertical-align: middle;
    margin: 0 3px;
    &:before{
      line-height:23px;
    }
    &.behanse{
      &:before{
        font-size:9px;
      }
    }
    &.instagram {
      &:before{
        font-size:12px;
      }
    }
    &:hover{
      color: $accent-color;
      border-color: $accent-color;
      opacity:1;
    }
  }
}

.main-logo{
  display: block;
  font-weight:400;
  font-size:50px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 0 30px;
  z-index:5;
  pointer-events: none;
  svg{
    display: block;
    max-width: 148px;
    margin: 0 auto 20px;
  }
  span{
    color: $accent-color;
  }
  p {
    font-size: 18px;
    margin: 10px 0 30px;
    text-align: center;
    display: block;
  }
}

.contacts, .about_us, .works {
  position: absolute;
  min-height: 100vh;
  padding-top:140px;
  padding-bottom:140px;
  text-align: center;
  transition: transform 1s;
  strong{
    font-size:18px;
    margin: 10px 0 30px;
    text-align: center;
    display: block;
  }
  p{
    text-align: left;
    span{
      color: $accent-color;
    }
  }
}
.works {
  padding-bottom:100px;
}
.contacts {
  padding-top: 80px;
  padding-bottom: 80px;
}
.works-wrap{
  margin: 0 auto;
  width:100%;
  padding: 0 135px;
}
.container{
  width:610px;
  margin: 0 auto;
  position: relative;
  z-index:5;
}
.contacts-block-form{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.call-back{
  width:100%;
  max-width: 270px;
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    height: 30px;
    padding:0 16px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom:18px;
    outline: none;

  }
  textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    padding:13px 16px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-bottom:18px;
    outline: none;
    resize: none;
    font-family: Lato;

  }
  button{
    display: block;
    margin-left:auto;
    background: none;
    border: 1px solid #000;
    font-weight:700;
    font-size:11px;
    color: #000;
    opacity:.6;
    border-radius: 8px;
    width:115px;
    height:25px;
    cursor: pointer;
    &:hover{
      color: $accent-color;
      border-color: $accent-color;
      opacity:1;
      outline: none;
    }
  }
}
address{
  text-align: left;
  p{
    text-transform: uppercase;
    margin-bottom:12px;
    span{
      color: $accent-color;
    }
  }
  li{
    margin-bottom:5px;
    .bold {
      font-weight: bold;
    }
  }
}
.about-us-info{
  margin-top:55px;
}
.about-us-info-line{
  padding: 12px 0;
  border-bottom: 1px dashed #808080;
  text-align: left;
  display: flex;
  dt,dd{
    vertical-align: top;
  }
  dt{
    width:50%;
    max-width: 190px;
  }
  dd{
    width:50%;
    flex-grow:1;
  }
  span{
    color: $accent-color;
  }
}
.works-slider{
  max-width:920px;
  width:100%;
  margin:0 auto;
  padding:10px 50px;
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index:5;
  .img-wrap{
    width:230px;
    height:230px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,.2);
    img{
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
    }
  }
  .img-border{
    position: absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:2px dashed #F1F1F1;
    border-radius: 50%;
  }
  .dark {
    border:2px dashed #666666;
  }
}
.tilter__caption{
  font-size:12px;
  color: #666;
  text-transform: uppercase;
  margin-top:20px;
}

.slider-button-next{
  right: 0;
}
.slider-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  width:14px;
  height:14px;
  border: 1px solid #666;
  border-radius: 50%;
  background: none;
  opacity:1;
  margin:0 3px;
}
.swiper-pagination-bullet-active{
  &:before{
    content: '';
    display: block;
    width:8px;
    height:8px;
    border-radius: 50%;
    border: 1px solid #666;
    margin: 1px;
  }
}
.control-slider{
  margin-top:50px;
  >*{
    display: inline-block;
    vertical-align: middle;
  }
}

.works-item-image{
  width:223px;
  height:223px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
  position: relative;

  &:before{
    content: '';
    width:190px;
    height:190px;
    display: block;
    border: 2px dashed #F1F1F1;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: all ease 5s;
  }
  &:hover{
    &:before{
      transform: rotate(180deg) translate(50%,50%) ;
    }
  }
}

#page-wrap{
  overflow: hidden;
  position: relative;
  min-height:100vh;
  .section{
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    position: absolute;
    opacity: 0;
    transform: translateX(-200%);
    transition: transform 1s, opacity .5s;
    display: flex;
    align-items: center;
  }
  .section-current{
    position: relative;
    transform: translateX(0);
    opacity:1;
    top:0;
    left:0;
  }
  &.current-main{
    .main-page{
      position: relative;
      top: 0;
      left: 0;
      transform: translateX(0);
      opacity: 1;
    }
    .works{
      transform: translateX(-200%);
    }
    .about_us{
      transform: translate(0,-200%);
    }
    .contacts{
      transform: translateX(200%);
    }
  }
  &.current-contacts{
    .about_us{
      transform: translateY(-200%);
    }
    .works{
      transform: translateX(200%);
    }
    .main-page{
      transform: translateX(-200%);
    }
  }
  &.current-works{
    .about_us{
      transform: translate(200%,0);
    }
    .main-page{
      transform: translateX(200%);
    }
  }
  &.current-about_us{
    .main-page{
      transform: translate(0,200%);
    }
  }
}
.open-work {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  transition: transform 1s;
  padding: 80px 0;
}
.open-work-wrap {
  .back-link {
    display: inline-block;
    text-transform: uppercase;
    margin: 40px 0;
    &:before {
      content: '\e802';
      font-family: fontello;
      font-style: normal;
      font-weight: 400;
      display: inline-block;
      margin-right: 20px;
      text-decoration: inherit;
      text-align: center;
      font-variant: normal;
      text-transform: none;
      line-height: 1em;
      -webkit-font-smoothing: antialiased;
    }
  }


}


.work-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 32px auto 0;
  text-align: left;
  width: 100%;
  max-width: 780px;
  .work-info-text {
    width: 100%;
    max-width: 350px;
    margin-top: 40px;
  }
  .work-info {
    width: 100%;
    max-width: 350px;
    margin-top: 40px;
    .work-info-line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      dt, dd {
        width: 50%;
        max-width: 350px;
        span{
          color: $accent-color;
        }
      }
    }
  }
}

.nav-btn-top-right{
  top:30px;
  right:30px;
  border: 1px solid #666;
  border-radius: 6px;
  display: none;
  position: fixed;
  background-color: #ffffff;
  z-index: 20;
  font-size:10px;
  font-weight:bold;
  .active {
    font-weight:300;
    text-decoration: none;
  }
  :first-child {
    border-right: 1px solid #666;
    height: 100%;
  }
  .nav-lang {
    padding: 5px 17px 4px;
    display: block;
    line-height: 1;
  }
}
.show-logo{
  span{
    color: #E53A24;
  }
}
.small-logo{
  width:30px;
  position: fixed;
  img{
    width:30px;
  }
}
.work-review-image{
  position: absolute;
}
.preloader{
  display:block;
  text-decoration:none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index:100;
  position: fixed;
  svg{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
#rectangle {
  stroke-dasharray: 5;
  stroke-dashoffset: 0;
  animation: dash2 4s linear infinite;
}

@keyframes dash2 {
  0% {
    stroke-dashoffset:100;
  }
  50% {
    stroke-dashoffset:0;
  }
  100% {
    stroke-dashoffset:-100
  }
}
.work-screen{
  width:100%;
  height:100%;
  border: 2px solid #050407;
}
.monitor-container {
  -webkit-transition: width 0.4s ease, height 0.4s ease;
  -moz-transition: width 0.4s ease, height 0.4s ease;
  -o-transition: width 0.4s ease, height 0.4s ease;
  transition: width 0.4s ease, height 0.4s ease;
}

.monitor-container {
  width: 900px;
  height: 525px;
  margin: 0 auto 80px;
}

.monitor-container:hover {
  width: 950px;
  height: 555px;
}

.monitor {
  padding: 4%;
  position:relative;
  border: 2px solid #050407;
  border-radius: 30px;
  height: 100%;
  &:before {
    content: "";
    display: block;
    background: #231f20;
    position: absolute;
    padding: 0.5%;
    margin-right: -0.4%;
    border-radius: 50%;
    right: 50%;
    top: 2.5%;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    z-index:-1;
    border: 2px solid #050407;
    border-radius: 30px;
  }

}

.screen {
  height: 100%;
  /*overflow: hidden; /* so that scroll bar is hidden */
  &:after {
    content:'';
    display: block;
    height: 88%;
    background: #fff;
    position: absolute;
    right: 1%;
    top: 6%;
    width: 3%;
  }
}

.content {
  height: 100%;
  width: calc(100% + 17px); /* 17px for scroll bar */
  overflow-y: scroll;
  position: relative;
}


.content img {
  display: block;
  width: 100%;
}

.monitor-stand {
  position: relative;
  margin: 0 auto;
  height: 10%;
  width: 20%;
  border-left: 2px solid #050407;
  border-right: 2px solid #050407;
  margin-top: 5px;
  &:after {
    content: '';
    position: absolute;
    border: 2px solid #050407;
    height: 20%;
    width: 200%;
    left:0;
    margin-left: -50%;
    margin-top: 29%;
    border-radius: 5px;
  }
}

@import "_partials/media";


